

body {
  margin: 0;
}

main {
  padding: 36px
}
.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  width: 1440px;
}
.logo {
  height: 75%;
  margin-right: 6px;
  margin-left: 10px;
}

.header--title {
  font-size: 2em;
  margin-right: auto;
}

.header--text {
  font-size: 1.5em;
  padding-right: 0.5em;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  height: 40em;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}

.form--button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  cursor: pointer;
}

